.container {
    border: 1px solid black;
    
    /*display: flex;*/
    /*flex-direction: column;*/
    /* flex-wrap: wrap; */
     /*justify-content: center; */
     /*align-items: center; */
     /*gap: 1rem;*/

}

.items {
    min-height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.item1 {
    background-color: red;
    /* flex: 1; */
    /* flex-grow: 1; */
    /* order: 3; */
}
.item2 {
    background-color: yellow;
    /* align-self: flex-start; */
    /* order: 1; */
}
.item3 {
    background-color: green;
    /* flex-shrink: 1; */
    /* flex-grow: 1; */
    /* order: 2; */
}
